form {
    display: flex;
    flex-direction: column;
    gap: 26px;
    background-color: #f6f6f6;
    width: 58.8451%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 35px 95px;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.form_title {
    font-size: 2rem;
    margin: 0;
}

.close {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    form {
        width: 80%;
        padding: 28px 50px;
    }
}
@media screen and (max-width: 767px) {
    form {
        padding: 35px;
        width: 100%;
    }
}
