@font-face {
  font-family: 'Prata';
  src: url("./assets/fonts/Prata/Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --heightAnimation: 0px;
  --green-light: #00ff0d;
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #212121;
  color-scheme: light dark;
  background-color: #FFF;
}

html {
  min-width: 320px;
}

body {
  margin: 0;
}

main {
  position: relative;
}

section {
  width: 100%;
  padding: 2.5625rem 1rem;
  box-sizing: border-box;
}