@font-face {
  font-family: 'Prata';
  src: url("./assets/fonts/Prata/Prata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Montserrat';
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --heightAnimation: 0px;
  --sky-blue: #6278F7;
  --background-color: #FFF;
  --text-color: #212121;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-shadow-color: rgba(0, 0, 0, 0.4);
  color-scheme: light dark;
  font-family: 'Prata', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--text-color);
  background-color: var(--background-color);
  color-scheme: light dark;
  transition: all 0.3s ease-in-out;
}

html {
  min-width: 320px;
}

body {
  margin: 0;
}

main {
  position: relative;
}

section {
  width: 100%;
  padding: 2.5625rem 1rem;
  box-sizing: border-box;
}